@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

* {
  margin: 0px;
  padding: 0px;
}

.container {
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.map-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-container {
  width: 45vw;
  max-width: 500px;
  min-width: 320px;
}

.parking-map-image {
  transform: rotate(-90deg);
  width: 70%;
  background: transparent;
}

.in-flex-data {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
}

.in-flex-map {
  min-width: 320px;
}

.top-buttom-text {
  font-size: 0.7 rem;
  font-weight: 250;
  color: #525856;
  text-align: left;
}

.content-buttom {
  margin: 0 38px;
}

.tittle-text {
  font-weight: 500;
  font-size: 1.7rem;
}

.in-grid-data {
  display: grid;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: max-content max-content;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-time-text {
  font-size: 1rem;
  font-weight: 100;
  font-size: 0.6rem;
  color: #C2CFA1;
  margin-left: 10px;
  text-align: left;
}

.content-date-time {
  align-self: flex-end;
  margin: 0 0 6px 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 10vh;
  min-width: 320px;
  height: 10vh;
  width: 100%;
  background-color: #404622;
}
